.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff !important;
}

main {
  padding: 12px;
  height: 100%;
  box-sizing: border-box;
}

.content {
  background-color: rgb(22, 22, 22);
  background-image: url(/assets/bear.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  color: #ffffff;
}


