$blue: #225D97;
$yellow: #ECE655;
$red: #dc4632;

.grad {
    background-image: linear-gradient(to bottom right, $red, $blue, $yellow);
}

.blue {
    color: $blue !important;
}
.yellow {
    color: $yellow !important;
}
.red {
    color: $red !important;
}
.gray {
    color: rgba(0,0,0,0.6) !important;
}

.blue-bg {
    background: linear-gradient(45deg, $blue, rgba(255,255,255,0.4)) !important;
    background-color: $blue !important;
    color: #ffffff;
}

.yellow-bg {
    background: linear-gradient(45deg, $yellow, rgba(255,255,255,0.4)) !important;
    background-color: $yellow !important;
    color: #000000;
}

.red-bg {
    background: linear-gradient(45deg, $red, rgba(255,255,255,0.4)) !important;
    background-color: $red !important;
    color: #ffffff;
}

.white-bg {
    background: linear-gradient(45deg, #dddddd, #ffffff) !important;
    background-color: $red !important;
    color: #ffffff;
}

:ng-deep .mat-list-base .mat-list-items mat-icon.mat-icon.mat-icon-no-color.blue {
    color: $blue !important;
}
:ng-deep .mat-list-base .mat-list-items mat-icon.mat-icon.mat-icon-no-color.yellow {
    color: $yellow !important;
}
:ng-deep .mat-list-base .mat-list-items mat-icon.mat-icon.mat-icon-no-color.red {
    color: $red !important;
}


