// @import '~@onivoro/browser-layout/flex';
@import '~@onivoro/browser-layout';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, sans-serif'
);

@include mat-core($custom-typography);

$oni-accent: (
  50: #EAE04E,
  100: #EAE04E,
  200: #EAE04E,
  300: #EAE04E,
  400: #EAE04E,
  500: #EAE04E,
  600: #EAE04E,
  700: #EAE04E,
  800: #EAE04E,
  900: #EAE04E,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
  )
);

$oni-primary: (
  50: #4B1964,
  100: #4B1964,
  200: #4B1964,
  300: #4B1964,
  400: #4B1964,
  500: #4B1964,
  600: #4B1964,
  700: #4B1964,
  800: #4B1964,
  900: #4B1964,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);


$oni-warn: (
  50: #ED7a15,
  100: #ED7a15,
  200: #ED7a15,
  300: #ED7a15,
  400: #ED7a15,
  500: #ED7a15,
  600: #ED7a15,
  700: #ED7a15,
  800: #ED7a15,
  900: #ED7a15,
  contrast: (
    50: $light-primary-text,
    100: $light-primary-text,
    200: $light-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
  )
);

$onicontractor-browser-primary: mat-palette($oni-primary);
$onicontractor-browser-accent: mat-palette($oni-accent);
$onicontractor-browser-warn: mat-palette($oni-warn);

$onicontractor-browser-theme: mat-light-theme((
  color: (
    primary: $onicontractor-browser-primary,
    accent: $onicontractor-browser-accent,
    warn: $onicontractor-browser-warn,
  )
));

@include angular-material-theme($onicontractor-browser-theme);

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body { height: 100%; background-color: rgb(56, 55, 55); color: white; }
body { margin: 0; font-family: 'Montserrat', sans-serif;  color: white; }

$header-height: 56px;

.hero {
  background-image: url('assets/bear.svg');
}
